@import url('https://fonts.googleapis.com/css?family=Bad+Script|Rock+Salt|Alegreya+Sans+SC');
*,
::after,
::before {
    box-sizing: unset;
}

body {
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
    background-image: linear-gradient(to right, #272527, #593542, #8e4643, #b1672d, #b19700, #97a400, #70b000, #24bb19, #1ba018, #138516, #0d6c13, #09530f);
    max-width: 1400px;
    margin: auto;

}

.hide-icon {
    display: none
}

nav {
    display: flex;
    box-shadow: 0px 3px 12px 11px rgb(0, 0, 0);
    flex-flow: row;
    background: #000000 linear-gradient(#a5a5a5, #000000 70%);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    font-family: 'Bad Script', cursive;
}

@media (min-width: 1000px) {

    header>nav {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
}

@media (max-width: 550px) {

    header>nav {
        display: flex;
        width: 100%;
        background-image: linear-gradient(to bottom, #031005, #bcffbb, #71d858, #114421, #101110);
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        font-family: 'Bad Script', cursive;
    }
    nav>.hide-icon {
        display: inline;
        width: 38px;
    }
    nav>.client-link {
        display: none
    }
    nav .client-linkend>img {
        width: 38px;
    }

    nav>ul {
        display: none
    }
}

.caunter-flex {
    display: flex;
}

.nav-link {
    display: inline;
    margin: 0;
    padding: 0;
}

.client-link>img {
    width: 50px;
    margin: 2px 10px 0 10px;
}

.client-linkend>img {
    width: 50px;
    margin: 0 10px 0 10px;
}

.peugeot {
    display: block;
    width: 100%;
    box-shadow: 0px 3px 12px 5px rgb(0, 0, 0);
    /*max-width: 1000px;*/
    /*margin: auto;*/
    /*position: ;*/
}

.carusel {
    box-shadow: 0px 3px 12px 5px rgb(0, 0, 0);
    border: 2px solid #000000f5;
}

.nav-pages {
    margin: 0;
}

.nav-pages li {
    display: inline;
    list-style-type: none;
    margin: 0 0 5px 0;
    align-content: center;
    padding-left: 0;
    padding-top: 13px;
    /*background: #000000 linear-gradient(#a5a5a5, #000000 70%);*/
    /*border: 2px solid #102f14;*/
}

.nav-pages li:hover {
    display: inline;
    list-style-type: none;
    margin: 0 0 5px 0;
    align-content: center;
    padding-left: 0;
    padding-top: 15px;
    /*background: #000000 linear-gradient(#a5a5a5, #000000 70%);*/
    /*border: 2px solid #102f14;*/
}

.this-page {
    display: inline;
    list-style-type: none;
    margin: 0 0 5px 0;
    align-content: center;
    padding-left: 0;
    padding-top: 10px;
    background: #f2eeee linear-gradient(#cdcdcd, #60bf00 70%);
    box-shadow: 0px 3px 12px 3px rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 6px;
    color: black;
}

nav .nav-pages li .amenu-color {
    font-size: 31px;
    color: black;
}

nav .nav-pages li .amenu-color:hover {
    color: #000000;
    text-shadow: #3b3e38 0 0 3px;
}

nav .nav-pages li a:hover {
    color: #77b900;
    text-shadow: #71d029 0 0 10px;
}

nav .nav-pages li a {
    text-decoration: none;
    margin: 0 25px 0 25px;
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
}

.search {
    justify-content: center;
    color: white;
    display: flex;
    min-width: 180px;
    box-shadow: 0px 3px 12px 3px rgb(0, 0, 0);
    background: #443c3c linear-gradient(#a09292, #000000b3 70%);
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    margin: 15px 50px;
}

.search-row {
    width: 950px;
    margin: 0 0 0 5px;
    color: #ffffff;
    background: #443c3c linear-gradient(#a09292, #000000b3 70%);
    /* box-shadow: 0px 3px 12px 6px rgb(0, 0, 0); */
    border: 2px solid #302d2d;
    border-radius: 5px;
    padding-left: 5px;
}


main {
    max-width: 1300px;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    color: white;
    min-width: 180px;
    box-shadow: 0px 3px 12px 3px rgb(0, 0, 0);
    background: #141414 linear-gradient(#111111, #000000c4 70%);
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 30px;
    color: white;
    margin: 15px 50px 30px 50px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: no-repeat 50%/100% 100%;
}

.rights-reserved {
    font-family: 'Bad Script', cursive;
    color: black;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 900;
    text-align: center;
}

.nv-first {
    display: block;
    float: left;
    max-width: 303px;
    width: 100%;
    margin: 0 10px 2px 0;
    border-radius: 10px;
    background-color: #1A1A1A;
    border: 1px solid #454242;
    color: white;
    box-shadow: 0px 3px 12px 5px rgb(96, 190, 0);
}

.nv-second {
    display: block;
    float: right;
    max-width: 328px;
    width: 100%;
    margin: 10px 0 5px 0;
    border-radius: 10px;
    background-color: #1A1A1A;
    border: 1px solid #454242;
    color: white;
    box-shadow: 0px 3px 12px 5px rgb(96, 190, 0);
}

.nv-third {
    display: block;
    float: left;
    max-width: 400px;
    width: 100%;
    margin: 10px 10px 2px 0;
    border-radius: 10px;
    background-color: #1A1A1A;
    border: 1px solid #454242;
    color: white;
    box-shadow: 0px 3px 12px 5px rgb(96, 190, 0);
}

.rows1 {
    max-width: 1300px;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    min-width: 180px;
    box-shadow: 0px 3px 12px 3px rgb(0, 0, 0);
    background: #282727 linear-gradient(#272626, #050505b3 70%);
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 30px;
    color: white;
}

.rows2 {
    max-width: 1300px;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    min-width: 180px;
    box-shadow: 0px 3px 12px 3px rgb(0, 0, 0);
    background: #2a2a2a linear-gradient(#2f2f2f, #111111b3 70%);
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 30px;
    color: white;
}

.rows3 {
    max-width: 1300px;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    min-width: 180px;
    box-shadow: 0px 3px 12px 3px rgb(0, 0, 0);
    background: #666464 linear-gradient(#4e4e4e, #000000b3 70%);
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 30px;
    color: white;
}

.rows4 {
    max-width: 1300px;
    font-family: 'Alegreya Sans SC', sans-serif;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    min-width: 180px;
    box-shadow: 0px 3px 12px 3px rgb(0, 0, 0);
    background: #808080 linear-gradient(#666666e8, #131313ab 70%);
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 30px;
    color: white;
}

p {
    margin-left: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.86);
}
